input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0 100px #ffffff00 inset !important;
  box-shadow: 0 0 0 100px #ffffff00 inset !important;
}
